@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lexend+Deca:wght@300&family=Roboto:wght@300&display=swap");
@import url("components/button.css");
@import url("components/container.css");



body{
    background-color: white;
    font-family:Roboto;
    font-size: 16px;
}

h1,h2{
    font-family: Julius sans one;
    color: #000000
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 26px;
}

h3{
   font-style: Lexend Deca;
   font-size: 24px;
   line-height: 30px;
   font-weight: 400;
   font-style: normal;
   color: #000000;
}

p{
   font-size: 16px;
   font-family: Lexend Deca;
   font-weight: normal;
   font-style: normal;
   line-height: 19px
}

/*Button and link*/

.btn-grey{
	background-color: #DFD8C8;
	color: black;
	padding : 5px 10px;
	border-radius: 5px;
	font-size: 20px;
}

a{
  text-decoration: none;
}

 /*Homepage*/

 header{
     color: #BBDED6;
     width: 1440px;
     height: 350px;
     left: -1px;
     top: -4px;
 }


/*Banner*/
.banner {
	background-color: #BBDED6;
	height: 350px;
	position: center;
}


.banner h3 {
	position: absolute;
        width: 331px;
        height: 28px;
        left: 555px;
        top: 269px;
        font-weight: 40px;
}

.banner a {
	position: absolute;
	width: 100px;
	height: 34px;
	left: 151px;
	top: 68px;
	align-items: center;
}

.container a {
	text-align: center;
}

#img1 {
	position: absolute;
	width: 500px;
	height: 500px;
	left: 300px;
	top: -5px;

}

#img2 {
	position: absolute;
	width: 132px;
	height: 142px;
	left: 970px;
	top: 185px;
}

#img3 {
	position: absolute;
	width: 132px;
	height: 142px;
	left: 1030px;
	top: 185px;
}

#img4 {
	position: absolute;
	width: 132px;
	height: 142px;
	left: 1090px;
	top: 185px;
}


/*Avatar Social Media*/

.avatar-container {
	background-color: #BBDED6;
	border-radius: 100px;
	width: 170px;
	height: 170px;
}
.avatar-container img {
	display: block;
	position: relative;
	vertical-align: middle;
	height: 200px;
	width: 200px;
	top: 45%;
	left: 20%;
	transform: translate(-50px,-50px)
}

/*Card - Most popular events*/

.img-cardpopular {
        position: absolute;
        width: 1007px;
        height: 410px;
        top: 328px;
        border-radius: 10px;
        vertical-align: middle;
}

a{
        text-decoration: none;
}
