@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lexend+Deca:wght@300&family=Roboto:wght@300&display=swap");



body{
    background-color: white;
    font-family:Roboto;
    font-size: 16px;
}

h1,h2{
    font-family: Julius sans one;
    color: #000000
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 32px;
}

h2{
    font-size: 26px;
}

h3{
   font-style: Lexend Deca;
   font-size: 24px;
   line-height: 30px;
   font-weight: 400;
   font-style: normal;
   color: #000000;
}

p{
   font-size: 16px;
   font-family: Lexend Deca;
   font-weight: normal;
   font-style: normal;
   line-height: 19px
}

.btn-grey{
	background-color: #DFD8C8;
	color: black;
	padding : 10px 15px;
	border-radius: 10px;
	font-size: 20px;
}


 /*Homepage*/

 header{
     color: #BBDED6;
     width: 1440px;
     height: 350px;
     left: -1px;
     top: -4px;
 }


/*Banner*/

.banner {
	background-color: #BBDED6;
	height: 350px;
	position: center;
}

.banner h3 {
	position: absolute;
width: 331px;
height: 28px;
left: 555px;
top: 269px;
font-weight: 40px;
}

.banner a {position: absolute;
width: 160px;
height: 54px;
left: 151px;
top: 68px;
align-content: center;}

.container a {
	text-align: center;}

#img1 {
	position: absolute;
width: 500px;
height: 500px;
left: 470px;
top: 55px;

}

#img2 {
	position: absolute;
width: 132px;
height: 142px;
left: 1100px;
top: 231px;
}

#img3 {
	position: absolute;
width: 132px;
height: 142px;
left: 1160px;
top: 231px;
}

#img4 {
	position: absolute;
width: 132px;
height: 142px;
left: 1220px;
top: 231px;
}

/*Avatar Social Media/

.avatar-container {
	background-color: #BBDED6;
	border-radius: 100px;
	width: 170px;
	height: 170px;
	line-height: 300px;
}
.avatar-container img {
	display: block;
	position: relative;
	vertical-align: middle;
	height: 200px;
	width: 200px;
	top: 45%;
	left: 20%;
	transform: translate(-50px,-50px)
}
