.btn-beige {
	background-color: #DFD8C8;
	border-radius: 4px;
	position: absolute;
	width: 140px ;
	height: 35px; 
	align-items: center;
	color: #000000;
	font-style: normal;
	font-family: Roboto;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	top: 758px;
}